!!! 5
%html
  %head
    %title Jakub Arnold - Curriculum Vitae
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #container
      = yield

      %aside
        .sidebar
          %ul
            %li
              %a{:href => "#"} Skills
            %li
              %a{:href => "#"} Code
            %li 
              %a{:href => "#"} Writing
            %li 
              %a{:href => "#"} Workspace
            %li 
              %a{:href => "#"} Hobbies
            %li 
              %a{:href => "#"} PDF CV
              
    #header-bg