!!! 5
%html
  %head
    %title Jakub Arnold - Curriculum Vitae
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #container
      = yield

      %aside
        .sidebar
          %h3 Make your choice
          %ul
            %li
              %a{:href => "#"} Foo
            %li Code
            %li Writing
            %li Workspace
            %li Hobbies
            %li PDF CV
        
          
      