body
  font: 16px/1.4 Georgia, serif
  
#container
  position: relative
  width: 560px
  margin: auto
  
  .content ul
    padding-left: 40px
    
    li
      list-style: disc

  aside
    position: absolute
    top: 80px
    left: 500px

    .sidebar
      position: fixed
